*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.calc-main{

    position: relative;
    width: 370px;
    height: 670px;
    margin: auto;
    border: 16px solid black;
    border-top-width: 40px;
    border-bottom-width: 20px;
    border-radius: 20px;
    border-color: 
}   

body{
    font-family: sans-serif;
    display: flex;
    text-align: center;
    min-height: 100vh;

}

.calc-display{

    height: 165px;
    width: 338px;
    color:black;
    border: 1px solid lightgoldenrodyellow;
    background-color: lightgoldenrodyellow;
    font-size: 60px;
    font-weight: bold;
    text-align: right;
}   

.calc-layout{

    display: inline-grid;
    grid-template-columns: auto auto auto auto;
    margin: 5px;
    gap: 5px;
}

button{

    width: 70px;
    height: 70px;
    margin: 3px;
    font-family: Tahoma, sans-serif;
    font-size: 30px;
    border-radius: 10px;
    color: white;   
    background-color: grey;
    cursor: pointer;
}
